/* ocean colors
[0] = "#2b303b",  black  
[1] = "#bf616a",  red    
[2] = "#a3be8c",  green  
[3] = "#ebcb8b",  yellow 
[4] = "#8fa1b3",  blue   
[5] = "#b48ead",  magenta
[6] = "#96b5b4",  cyan   
[7] = "#c0c5ce",  white  


light 
[256] = "#eff1f5", background
[257] = "#4f5b66", foreground

dark 
[256] = "#2b303b", background
[257] = "#c0c5ce", foreground
*/
body{ 
	background-color: #eff1f5;
	color: #4f5b66; 
	font-family: sans-serif; 
}

.content{
	min-height: 100vh;
}

.title{
	font-weight: bold;
}

a, a:visited, a:link, a:active{
	color: #8fa1b3;
}

a:hover{
	color: #96b5b4;
}

.form{
	display: block;
	margin: 0 auto;
	text-align: center;
}

table{
	text-align: left;
	border-collapse: collapse;
}

th, td{
	padding: 15px;
	border:  solid 2px #4f5b66;
}

tr:nth-child(even){
		background-color: #ebcb8b80;
}

hr{ 
	border: 0; 
	border-bottom: 2px solid #bf616a;
}

.bigtext{
	word-wrap: break-word;
}

@media (prefers-color-scheme: dark){
	body{
		background-color: #2b303b;
		color: #c0c6ce;
	}
}

/* responsive */
*{
	box-sizing: border-box;
}

[class*="col-"]{
	float: left;
	padding: 15px;
} 

.row::after{
	content: "";
	clear: both;
	display: table;
}

/* For mobile phones: */
[class*="col-"]{
	width: 100%;
}

@media only screen and (min-width: 600px){
	/* For tablets: */
	.col-s-1{width: 8.33%;}
	.col-s-2{width: 16.66%;}
	.col-s-3{width: 25%;}
	.col-s-4{width: 33.33%;}
	.col-s-5{width: 41.66%;}
	.col-s-6{width: 50%;}
	.col-s-7{width: 58.33%;}
	.col-s-8{width: 66.66%;}
	.col-s-9{width: 75%;}
	.col-s-10{width: 83.33%;}
	.col-s-11{width: 91.66%;}
	.col-s-12{width: 100%;}
}

@media only screen and (min-width: 768px){
	/* For desktop: */
	.col-1{width: 8.33%;}
	.col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
	.col-12{width: 100%;}
}
